<!-- <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Phoby</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}

        <li><a href="/accounts/account/">{{user.username}} </a></li>
        <li><a href="/accounts/logout/">Log out</a></li>

        {% else %}

        <li><a href="/accounts/account/">Register</a></li>
        <li><a href="/accounts/login">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </nav> -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Profile</a></li>
  <li><a href="#!">Saved</a></li>
  <li class="divider"></li>
  <li><a href="/accounts/logout/">Logout</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" style="padding-left:23px ;color: #66FCF1;">Phoby</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1"><img src="../images/ (1).jpg" alt=""
            id="user-pic-nav" class="circle responsive-img"><label id="uname"
            style="color: #45A29E;">{{user.username}}</label></a>
      </li>
    </ul>
  </div>
</nav>