{% extends 'base.html' %}
{% block content %}
{% load static from static %}

<!-- <div class="row">
     {% for h in hobbys %} 
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{h.hobby_name}}</span>
          <p>{{h.followers}}</p>
            <p style="font-size: 70%">{{h.hobby_id}}</p>
        </div>
        <div class="card-action">
          <a href="#">Visit</a>

        </div>
      </div>
    </div>
     {% endfor %}
  </div> -->

<head>
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- For icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="row">
    <div class="col s1"></div>
    <div class="col s6">
      {% for profile in profile %}

      <div class="col s4 main-user">
        <!-- <div>
          {% if user == profile.user_of %}
          <img id="user-pic" class="circle responsive-img" src="{{profile.profilePic.url}}" />
          {% else %}
          <img id="user-pic" class="circle responsive-img"
            src="{% static '/profile/profilePic/default/default.png' %}" />
          {% endif %}
        </div> -->

      </div>

      {% endfor %}
      <div class="col s8">
        <div>
        </div>
        <div>
          <h4 style="margin-top:20%;margin-bottom:5%;text-align:center;color:white;">Hobby Name</h4>
        </div>
      </div>
      {% for post in posts %}
      {% for profile in profile %}

      <div class="col s4 posted-user">
        <div>
          {% if post.uploaded_by == profile.user_of %}
          <img class="circle responsive-img" src="{{profile.profilePic.url}}" />
          {% else %}
          <img id="user-pic" class="circle responsive-img" src="{% static '/images/default/default.png' %}" />
          {% endif %}
        </div>
      </div>

      {% endfor %}


      <div class="col s8 posted">
        <p class="username" style="font-family: Taprom;">{{post.uploaded_by}} <span class="right"
            id="date">{{post.uploaded_on}}</span></p>
        <!-- <div class="card">
          <div class="card-image waves-effect waves-block waves-light card2">
            <img class="activator" src="{{post.post_image.url}}" />
          </div>
          <div class="card-conten title">
            <span class="card-title activator">{{post.post_caption}}</span>
            <p class="right"><span><a href="{{post.post_image.url}}" download> <i class="material-icons"
                    style="margin-left:100px;background-color:c4c4c4;">file_download</i></a></span></p>
          </div>
        </div> -->
        <div class="card">
          <div class="card-image">
            <img src="{{post.post_image.url}}">
            <!-- <span class="card-title">Card Title</span> -->
          </div>
          <div class="card-content caption">
            <p>{{post.post_caption}}</p>
          </div>
          <div class="card-action download">
            <a href="{{post.post_image.url}}" download> <i class="material-icons icon-blue">file_download</i></a>
            {{post.hobby}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col s1"></div>
    <div class="col s3" id="right-side-stuff">
      <div>
        <p style="padding-left: 2%;">Recommended hobbies</p>
        {% for hobbys in hobby %}
        <p class="hobbies">{{hobbys.hobbyName}}</p>
        {% endfor %}
      </div>
      <br />
      <div id="right-side-container">
        <p style="margin-top: 3%; padding-left:3%; margin-bottom:3%;">Trending</p>
        <div class="col s2" id="right-side-user">
          <img class="circle responsive-img" src="../images/ (7).jpg" />
        </div>
        <div class="col s4" id="trending-name">
          <div>
            <p>user_name</p>
          </div>
        </div>
        <div class="col image-barrier">
          <div class="card">
            <div class="card-image">
              <img src="../images/ (1).png" />
            </div>
            <div class="card-content">
              <p>
                I am a very simple card. I am good at containing small
                bits of information. I am convenient because I require
                little markup to use effectively.
              </p>
            </div>
            <div class="card-action">
              <p>This is a link</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s1"></div>
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class=" large material-icons cyan-text text-darken-4" style="background-color: bisque;">mode_edit</i>
    </a>
    <ul>
      <li>
        <a href="/search/" class="btn-floating red"><i class="material-icons cyan-text text-darken-4"
            style="background-color: bisque;">search</i></a>
      </li>
      <li>
        <a href="/posts/upload" class="btn-floating blue"><i class="material-icons cyan-text text-darken-4"
            style="background-color: bisque;">attach_file</i></a>
      </li>
    </ul>
  </div>
  <script>
    var dropdowns = document.querySelectorAll('.dropdown-trigger')
    for (var i = 0; i < dropdowns.length; i++) {
      M.Dropdown.init(dropdowns[i]);
    }
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".fixed-action-btn");
      var instances = M.FloatingActionButton.init(elems, {
        direction: "top"
      });
    });
  </script>
</body>
{% endblock %}