* {
    padding: 0;
    margin: 0;
    background-color: #2b2736;
}

.nav-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;

    background: #2b2736;
    border: 2px solid #2a2e35;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-trigger {}

#uname {
    bottom: 20px;
    padding-left: 20px;
}

span {
    background: #c4c4c4;
}

.out-box {
    background: #c4c4c4;
}

#right-side-stuff {
    padding-top: 2%;
    color: #ffffff;
}

.hobbies {
    background: #3b354a;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    padding-left: 3%;
    border-radius: 30px;
}

#right-side-container {
    background: #3b354a;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 1%;
    height: 100%;
    width: 100%;
}

#right-side-container p {
    background-color: inherit;
    border-radius: 30px;
}

#right-side-user {
    background-color: inherit;
}

#right-side-container-inside {
    background-color: inherit;
}

#trending-name {
    padding: 2%;
    background: inherit;
}

/* does not work */
#trending-name p {
    background-color: #3b354a;
    border-radius: 0;
    /* padding-right: 100%; */
}

.image-barrier {
    background: #3b354a;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 15px;
    /* filter: blur(4px); */
}

.card-image {
    border-radius: 20px 20px 0 0;
}

.card .card-image img {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.image-barrier div {
    background: #c4c4c4;
}

.image-barrier p {
    color: black;
}

.main-user div {
    float: right;
    margin-top: 20%;
}

#user-pic {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

#user-pic-nav {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.posted-user div {
    float: right;
}

.posted-user div img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

/* .user-pic{
      height: 80px;
      width: 80px;
      object-fit: cover; 
  } */
.input {
    margin-top: 10%;
    height: 10%;
    border-radius: 15px;
    background-color: #c4c4c4;
}

.card div {
    background-color: white;
}

.card div span {
    background-color: #c4c4c4;
}

.posted .card {
    border-radius: 20px 20px 20px 20px;
}

.posted .card div img {
    border-radius: 20px 20px 0 0;
}

.posted .card .card2 {
    border-radius: 20px 20px 0 0;
}

.title {
    border-radius: 0 0 20px 20px;
}

.title p {
    border-radius: 0 0 20px 20px;
}

.activator {
    border-radius: 0 0 20px 20px;
}

.card-reveal {
    background: white;
}

.card-reveal p {
    background: white;
    padding-left: 4%;
    padding-top: 2%;
}

.card-title {
    background-color: white;
    border-radius: 20px;
    padding-left: 4%;
}

.title p {
    background: #c4c4c4;
    padding-top: 1%;
    padding-right: 1.5%;
}

.posted .username {
    background-color: #c4c4c4;
    padding: 2%;
    border-radius: 20px;
    margin-bottom: 10%;
}

#date {
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #5f5d5d;
    margin-top: 2px;
    margin-right: 2px;
}

.caption p {
    background-color: inherit;
}

.row .col.s8 {
    margin-top: 15px;
    margin-bottom: 50px;
}

i.icon-blue {
    color: black;
    background-color: white;
}

#dropdown1 li a {
    color: bisque;
}