{% extends 'base.html' %}

{% block content %}
{% for post in Posts %}
<div>
    <p>Username: {{user.username}}</p>
    <!-- displaying from database  -->
    <img src="{{post.post_image.url}}" width=21% height=21%>
    <p>Caption: {{post.post_caption}}</p>
    <p>Posts: {{post.uploaded_on}}</p>
    <a href="{% url 'posts:update' post.pk %}">Edit</a>
    <form method="POST" action="{% url 'posts:delete' post.pk %}">
        {% csrf_token %}
        <button class="btn btn-primary btn-sm">Delete</button>
    </form>
    {% endfor %}
</div>
{% endblock content %}